<div class="hideonmobres">
    <div class="auth-body">
        <div class="auth-top-logo"></div>
        <div class="popup-card text-center auth-card">
            <form [formGroup]="form" autocomplete="off">
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-key"></i></span>
                        </div>
                        <input (blur)="isBlur = true" (focus)="isBlur = false" type="email" name="email"
                            formControlName="fcEmail" class="form-control" id="email" />
                    </div>

                    <div class="form-error" *ngIf="
              form.get('fcEmail').errors?.required && form.get('fcEmail').touched  ||
              form.get('fcEmail').errors?.required && isNavigated">
              Email is required
                    </div>
                    <div class="form-error" *ngIf="
              form.get('fcEmail').errors?.invalidEmail &&
              form.get('fcEmail').touched && !form.get('fcEmail').errors?.required &&
              isBlur
            ">
            Invalid email
                    </div>
                </div>

                <button id="forgot-pass" type="submit" (click)="submit(form.value)" class=" m-t-30px apl-btn btn-ok">
                    <i class="fa fa-sign-in"></i> Submit
                </button>
            </form>
        </div>
    </div>
</div>
<div style="position: relative;top:10rem;" class="container-fluid notifMob">
    <h6 class="alert justify-content-center" style="background-color: #6bccd1;border-color: #6bccd1;color: black;">
        Mobile optimization in progress; please use a desktop browser to continue
        <span style="position: absolute;top: -2px;
      right: 3px; color: #CDEAEC;"><i class="fa fa-exclamation-circle"></i></span>
    </h6>
</div>