.anc-form-floating {
  position: relative;
  &__input-control {
    padding: 1rem 0.75rem;
    display: flex;
    align-items: center;
    &.form-control {
      font-family: Heebo;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      height: calc(2.5em + 0.75rem + 2px);
      background: #ffffff;
      color: #1c1c1d;
      padding: 26px 26px 2px 16px;
      border: 0;
      border-radius: 4px;
      box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04),
        0px 4px 16px rgba(51, 51, 51, 0.08);
      &:focus {
        color: #1c1c1d !important;
        box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04),
          0px 4px 16px rgba(51, 51, 51, 0.08) !important;
        border-color: transparent;
      }
      &.has-error {
        background: #f9e3e3;
      }
      &.valid {
        -webkit-animation: change-to-valid 1s ease-in-out;
        /* Safari 4+ */
        -moz-animation: change-to-valid 1s ease-in-out;
        /* Fx 5+ */
        -o-animation: change-to-valid 1s ease-in-out;
        /* Opera 12+ */
        animation: change-to-valid 1s ease-in-out;
        /* IE 10+ */
      }
    }
    &.focus ~ .anc-form-floating__label-container {
      opacity: 1;
      transform: translateY(-0.7rem);
    }
  }
  &__label-container {
    display: inline-block;
    z-index: 1;
    position: absolute;
    top: 16px;
    left: 16px;
    // padding: 16px 6px 20px 16px;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
    font-family: Mukta;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #a2a4a6;
    & label {
      position: relative;
      z-index: 1;
    }
  }
  &__error {
    visibility: visible;
    opacity: 1;
    position: absolute;
    top: -1px;
    left: -13px;
    // transform: translate(3px, 14px);
    // width: 100%;
    z-index: 1;
    &.hide {
      visibility: hidden;
      opacity: 0;
    }
    & > i {
      position: relative;
      z-index: 1;
      cursor: pointer;
    }
  }
  &__error-text {
    position: relative;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.02em;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-2px, 20px);
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04),
      0px 4px 24px rgba(51, 51, 51, 0.24);
    border-radius: 4px;
    padding: 5px 5px 2px 5px;
    &::after {
      content: "";
      position: absolute;
      top: -6px;
      left: 3px;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 6px solid #ffffff;
    }
    &.show {
      visibility: visible;
      opacity: 1;
    }
  }
  &__tree {
    position: absolute;
    top: 59px;
    right: 0;
    z-index: 7;
    width: 100%;
    padding-bottom: 16px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04),
      0px 4px 16px rgba(51, 51, 51, 0.08);
    border-radius: 4px;
  }
  &__search {
    position: relative;
    z-index: 1;
    padding: 16px 8px;
    & .search-control.form-control {
      font-family: Mukta;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 24px;
      color: rgba(17, 17, 17, 0.48);
      opacity: 1;
      background: #ffffff;
      color: rgba(17, 17, 17, 0.48);
      padding: 6px 6px 6px 24px;
      box-sizing: border-box;
      border: 1px solid #a2a4a6;
      border-radius: 4px;
      box-shadow: unset;
      &:focus {
        color: rgba(17, 17, 17, 0.48) !important;
        box-shadow: unset !important;
        border-color: #a2a4a6;
      }
    }
    & .search-icon {
      position: absolute;
      top: 26px;
      left: 14px;
      opacity: 0.5;
      font-size: 12px;
    }
  }
  &__items-list {
    color: #1c1c1d;
    height: fit-content;
    max-height: 125px;
    overflow: auto;
    & table {
      margin-bottom: 0;
      width: 100%;
    }
    & td {
      padding-top: 4px;
      padding-bottom: 4px;
    }
    & tr {
      opacity: 0.5;
      &.selectable {
        opacity: 1;
      }
    }
    & tr * {
      cursor: pointer;
    }
    & tr:hover {
      background-color: #a2a4a6;
      color: #ffffff;
    }
    & tr.selectable:hover {
      background-color: rgba(14, 14, 43, 0.8);
    }
    & .item-icon {
      font-size: 12px;
      margin-right: 6px;
      &--caret {
        padding: 5px;
        // m-l-neg-3px
      }
    }
    & .item-text {
      font-family: Mukta;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0.02em;
    }
  }
  & .is-mandatory {
    color: #e05536;
  }
  @-webkit-keyframes change-to-valid {
    0% {
      background-color: #cbecd9;
    }
    75% {
      background-color: #cbecd9;
    }
    100% {
      background-color: white;
    }
  }
  @-moz-keyframes change-to-valid {
    0% {
      background-color: #cbecd9;
    }
    75% {
      background-color: #cbecd9;
    }
    100% {
      background-color: white;
    }
  }
  @-o-keyframes change-to-valid {
    0% {
      background-color: #cbecd9;
    }
    75% {
      background-color: #cbecd9;
    }
    100% {
      background-color: white;
    }
  }
  @keyframes change-to-valid {
    0% {
      background-color: #cbecd9;
    }
    75% {
      background-color: #cbecd9;
    }
    100% {
      background-color: white;
    }
  }
}

.toggle-list {
  color: #a2a4a6;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 12px;
  & .up {
    transform: rotate(0deg);
    transition: all 1s ease-in-out;
  }
  & .down {
    transform: rotate(180deg);
    transition: all 1s ease-in-out;
  }
}

.selected-item {
  margin-right: 0.5rem;
  padding-right: 0.75rem;
}

.selected-item-ellipsis {
  max-width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 4px;
}

.selected-item-tag {
  font-family: Mukta;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
  background: #0e0e2b;
  box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04),
    0px 4px 16px rgba(51, 51, 51, 0.08);
  border-radius: 4px;
  position: relative;
  z-index: 11;
}

.value-text {
  padding: 0.25rem 0 0.25rem 0.75rem;
}
.value-icon.right + .value-text {
  padding-left: 0.25rem;
}
.value-icon.left + .value-text {
  padding-right: 0.25rem;
}
.value-icon {
  padding: 0.25rem 0.5rem;
  cursor: pointer !important;
  &.left {
    border-left: 1px solid #a2a4a6;
    padding-right: 0.5rem;
  }
  &.right {
    border-right: 1px solid #a2a4a6;
    padding-left: 0.5rem;
  }
}
