.confirmation-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 11000;
    overflow: visible;
}

.confirmation-box {
    background-color: #ffffff;
    width: 45%;
    height: 252px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11001;
    overflow: visible;
}

.confirmation-close {
    // display: flex;
    // flex-direction: row-reverse;
    font-family: Heebo;
    font-weight: normal;
    // font-size: 2.25rem;
    // padding-right: 1rem;
    // color: #121313;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 6px;
    z-index: 12000;
}

.confirmation-body {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // height: 100%;
    padding: 2rem 2.25rem 1.75rem 2.25rem;
    padding-bottom: 0;
    text-align: center;
    height: 170px;
    overflow: hidden;
}

.confirmation-title {
    font-family: Heebo;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 19px;
    letter-spacing: 0.466667px;
    color: #0e0e2b;
    margin-bottom: 2rem;
}

.confirmation-message {
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #a2a4a6;
    margin-bottom: 2rem;
    white-space: normal;
    word-wrap: normal;
    margin-bottom: 0;
}

.confirmation-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 26px;
    transform: translateX(-50%);
    button {
        padding-left: 2.5rem !important;
        padding-right: 2.5rem !important;
    }
}

// .confirmationBox {
//   display: block;
//   z-index: 11000;
//   position: absolute;
//   //background-color: white;
//   background-image: linear-gradient(179deg, #303d42 0%, #3d3d41 100%);
//   padding: 3px;
//   box-shadow: 1px 1px 1px 1px lightgray;
// }
// .confirmationBox {
//   border-radius: 5px;
//   z-index: 11001;
//   position: fixed;
//   right: 0;
//   left: 0;
//   top: 200px;
//   margin-right: auto;
//   margin-left: auto;
//   // width: 40%;
//   // height: auto;
//   // text-align: center;
//   padding-left: 20px;
//   padding-right: 10px;
//   width: 420px;
//   // height: 290px;
//   height: fit-content;
//   color: #ffffff;
//   //background-color: #fff;
//   background-image: linear-gradient(179deg, #303d42 0%, #3d3d41 100%);
//   box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
//     0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
// }
// .popupHeading {
//   // font-weight: bold;
//   // margin: 15px;
//   // font-size: 15px;
//   // background-color: #2A3034;
//   // color: #ffffff;
//   padding-top: 20px;
//   //border-radius: 10px;
// }
// .popupHeading h4 {
//   font-size: 1rem;
// }
// .popupButton {
//   margin: 0px 10px;
// }
// .confirmationBoxButtons {
//   text-align: right;
//   // padding-right: 15px;
//   padding-right: 11px;
//   // padding-top: 27%;
//   padding-top: 4rem;
// }
// .confirmationBoxComponent {
//   padding-top: 5px;
// }
// .confirmationBoxComponent h6 {
//   font-size: 0.9rem;
// }
// .confirmationBoxLine {
//   display: block;
//   /* z-index: 1000; */
//   position: initial;
//   background: #2a3034;
//   margin-bottom: 11px;
//   /* background-repeat: repeat-x !important; */
//   /* background-image: linear-gradient(179deg, #303D42 0%, #3D3D41 100%); */
//   padding: 1px;
//   /* box-shadow: 1px 1px 1px 1px lightgrey; */
// }
// .popup-confirmation-overlay {
//   // top: -115px !important;
// }
// .pop-up-delete .overlay.popup-confirmation-overlay {
//   top: unset !important;
// }
// @media (max-width: 500px) {
//   .confirmationBox {
//     width: 300px !important;
//     height: 260px !important;
//     left: 35px !important;
//   }
// }