<div id="manage-orgn">
  <app-manage-profile-component class="report-profile-section" *ngIf="getProfileView()">
  </app-manage-profile-component>
  <div id="orgn-log" class="hide-report mt-0 pt-1" [ngClass]="{'show-report': isDataLoaded}">
    <button (click)="createOrganization()" id="create-organization" *ngIf="this.screenPermission.isCreateButtonAllow  && isSuperTenant && isSuperUser"
      class="anc-btn anc-btn-solid anc-btn-solid-2 mt-3">
      {{"app.createNew" | translation | async}}
    </button>

    <div class="data-log-section hide-report-2" [ngClass]="{'show-report': isDataLoaded}">
      <div class="widgets">
        <div class="widgets__counter">
          <span id="results-found-count">{{totalRecords | number}} </span>
          <span *ngIf="totalRecords > 1">{{"general.resultsFound" | translation | async}}</span>
          <span *ngIf="totalRecords <= 1">result found</span>
        </div>
        <div class="widgets__controls m-r-3px">
          <div class="widgets__controls--lock m-t-neg-3px mr-2">
            <span id="save-filters" [ngClass]="{'d-none': saveFilters}" (click)="lockFilters()"
              title="{{'d3Reporting.lockAppliedFilters' | translation | async}}">
              <img src="../../../../../assets/images/components-icons/unlock-icon.png" height="16" width="12" />
            </span>
            <span id="remove-filters"  [ngClass]="{'d-none': !saveFilters}"
              title="{{'d3Reporting.unlockFilters' | translation | async}}" (click)="this.removeFiltersfromDB()">
              <img src="../../../../../assets/images/components-icons/lock-icon.png" height="16" width="12" />
            </span>
          </div>
          <div class="widgets__controls--reset m-t-neg-4px m-r-22px">
            <span title="{{'d3Reporting.resetFilters' | translation | async}}" (click)="resetAllFilter()"
              id="reset-all-filters">
              <img src="../../../../../assets/images/components-icons/reset-icon.png" height="14" width="14" />
            </span>
          </div>
          <div class="widgets__controls--template m-r-20px">
            <div class="template-btn m-t-2px">
              <app-custom-export-file-xlsx-v2 id='csv-action' [auditTrail]="false" (generateCSV)="exportCSV()"
                [template]="false" report="orgn-log" latestVersion="true">
              </app-custom-export-file-xlsx-v2>
            </div>
          </div>
          <div class="widgets__controls--edit m-t-neg-4px">
            <span title="{{'reportRole.columnOrdering' | translation | async}}" (click)="manageOrgnFields()"
              id="edit-field-access">
              <img src="../../../../../assets/images/components-icons/edit-icon.png" class="m-b-2px" height="14"
                width="14" />
            </span>
          </div>
        </div>
      </div>
      <div class="datatable-container pr-0 pl-0">
        <div class="table-responsive apl-data-log-table apl-scrollbar scrollbar--2" appHorizontalDragScroll
          [disabled]="disabledDragScroll">
          <div id='table-orgn-log' class=" mb-0">
            <table id="dc-table-graph" class="table__data-log">
              <thead>
                <tr id='table-header-orgn-log' class="text-uppercase">

                  <th *ngFor="let item of lstRenderedFieldsList, let j = index let lastcall = last" #thSort
                    id='sort-{{item.field_name}}' [attr.data-field_name]="item.field_name"
                    [attr.data-icon_type]="item.icon_type" [attr.data-sort_state]="item.sort_state" 
                    clickOutsideElem (clickOutside)="clickedOutsideFilterDialog(item.fieldKey)"
                    [clickOutsideEnabled]="this.lstFiltersOpenClose[item.fieldKey]"
                    [clickOutsideEvents]="'click,touchstart'" [excludeDynamic]="item.fieldKey == 'scanDateTime'"
                    [excludeClassList]="['dp-nav-header-btn','dp-calendar-day','dp-calendar-month']">

                    <div class="filter-block d-none"
                      [ngClass]="{'d-block': lstFiltersOpenClose[item.fieldKey] == true}">
                      <app-custom-filter-popup
                        *ngIf="item.filterType === 'selection' || item.filterType === 'selectionDate'"
                        [options]="filterOptions[item.fieldKey]" [totalCount]="filterOptionsCounts[item.fieldKey]"
                        [wildcardEnable]="item.isWildcard" [resetControl]="resetFilter[item.fieldKey]"
                        [isFilterForDate]="item.filterType === 'selectionDate'"
                        [selectedValues]="selectedValuesArrays[item.fieldKey]"
                        [selectedValueWildcard]="selectedValueWildcard[item.fieldKey]"
                        [selectedOperatorWildcard]="selectedOperatorWildcard[item.fieldKey]"
                        [automationId]="item.fieldKey" [isFilterApplied]="lstFiltersApplied[item.fieldKey]"
                        (onClose)="closeAllFilterPopups()" (onApply)="applyListofFilters($event, item.fieldKey)"
                        (onClear)="clearListOfComponent($event, item.fieldKey)"
                        (onWildcardApply)="wildcardSearch($event, item.fieldKey)" (onLoader)="onLoader($event)">
                      </app-custom-filter-popup>
                    </div>

                    <div class="d-flex align-center-center">
                      <div class="log-header p-0">
                        <span *ngIf="item.filterType !== 'none'" id="{{item.fieldKey}}_show-filter"
                          class="log-header__filter-icon enableWhiteListing" (click)="showFilterPopup(item.fieldKey)">
                          <!-- <i class="fas fa-filter enableWhiteListing"></i> -->
                          <img src="../../../../../assets/images/components-icons/filter-icon.png"
                            class="enableWhiteListing m-t-neg-2px" height="10" width="10" />
                        </span>
                      </div>
                      <div class="log-header" [ngClass]="{'active-filter': this.lstFiltersApplied[item.fieldKey] == true,
                    'open-filter-popup': lstFiltersOpenClose[item.fieldKey] == true}">
                        <div class="d-flex align-items-center">
                          <label class="mb-0 m-r-4px cursor-pointer" id="{{item.fieldKey}}_sort"
                            (click)="applySort($event, thSort, item, j)">
                            {{ item?.langKey | translation | async}}
                          </label>
                        </div>

                        <div class="d-flex align-items-center {{item?.ml_icon}}">
                          <span class="w-13px d-inline-block position-relative hide-visibility th-sort-img m-r-2px">
                            <i ></i>

                          </span>
                          <span class="log-header__clear-filter" *ngIf="item.filterType !== 'none'">
                            <span (click)="clearFilter(item.fieldKey)" id="{{item.fieldKey}}_clear-filter"
                              [ngClass]="{'hide-visibility': !lstFiltersApplied[item.fieldKey]}">&times;</span></span>

                        </div>

                      </div>
                    </div>

                  </th>
                  <th >
                    <label class="mb-0">{{ "organizations.action" | translation | async }}</label>
                  </th>
                </tr>
              </thead>


              <tbody *ngIf="this.reportData?.lstOrgnData?.length > 0">
                <tr
                  *ngFor="let item of this.reportData?.lstOrgnData trackBy:trackById.bind(this, 'orgnId'), let i = index"
                  id="row-{{i}}">
                  <td *ngFor="let col of lstRenderedFieldsList, let j = index" id="col-{{j}}"
                    [ngClass]="{'p-l-38px': col.filterType !== 'none', 'p-l-15px': col.filterType === 'none' && col?.valueType !== 'barcode',
                    'p-l-4px': col?.filterType === 'none' && col?.valueType === 'barcode'}"
                     class="{{col.numeric}}">

                    <div class="{{setWidthIfNumericCol(col.numeric, col?.tdDiv)}} {{col.numeric}}"
                      [ngClass]="{'position-relative': item.siteHeirarchy?.length>0}">
                      <label class="mb-0 {{ col.fieldKey == 'cfRoles' ? col?.tdLabel : '' }}"
                        title="{{ item[col.fieldKey]}}">
                        {{ item[col.fieldKey] }}
                      </label>
                    </div>
                  </td>
                  <td class="text-nowrap pl-0">
                    <div class="d-flex">
                      <div class="widgets__controls--edit pb-0 pt-0 ml-2"><span id="edit-orgn-{{i + 1}}"
                          title="Edit organization" (click)="editOrganization(item['orgnId'])"
                          *ngIf="this.screenPermission.isEditButtonAllow && isAnceraUser"><img class="m-b-2px" height="12"
                            src="../../../../../assets/images/components-icons/edit-icon.png" width="12"></span>
                      </div>
                      <div class="widgets__controls--edit pb-0 pt-0 ml-2"><span id="delete-orgn-{{i + 1}}"
                          title="Delete organization" *ngIf="this.screenPermission.isDeleteButtonAllow && isAnceraUser"
                          (click)="DeleteOrganization(item['orgnId'])">
                          <img class="m-b-2px" height="12"
                            src="../../../../../assets/images/components-icons/delete-icon.png" width="12">
                        </span>
                      </div>
                      <!-- <div class="widgets__controls--edit pb-0 pt-0 ml-2">
                        <span id="edit-orgn-sites-{{i + 1}}"
                          title="View sites"  (click)="EditSites(item['orgnId'])">
                          <img class="m-b-2px" height="14"
                            src="../../../../../assets/images/components-icons/manage-sites.png" width="16">
                        </span>
                      </div> -->

                    </div>
                  </td>

                </tr>
              </tbody>
            </table>

          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="anc-modal rpt audit-v2">
    <app-popup-component></app-popup-component>
  </div>
</div>


<app-confirmation-v3 *ngIf="showConfirmationFlag" (positive)="positiveDelete()"
  (negative)="showConfirmationFlag = false" [message]="confirmationMessage"></app-confirmation-v3>
