<div class="container canopy-container">
    <div class="" [formGroup]="cropDetail">
        <div class="ng-select-box w-50">
            <ng-select class="form-control" placeholder="Crop" formControlName="crop" [items]="cropData"
                bindLabel="name" bindValue="id" [multiple]="false" required [closeOnSelect]="true" (ngModelChange)="onChangeCropId($event)">
            </ng-select>
            <div class="floating-error"
                [ngClass]="{'hide': !(cropDetail.get('crop').errors && (cropDetail.get('crop').dirty || cropDetail.get('crop').touched))}">
                <i>
                  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                    <path
                      d="M5 0C2.24167 0 0 2.24167 0 5C0 7.75833 2.24167 10 5 10C7.75833 10 10 7.75833 10 5C10 2.24167 7.75833 0 5 0ZM5 9.16667C2.7 9.16667 0.833333 7.3 0.833333 5C0.833333 2.7 2.7 0.833333 5 0.833333C7.3 0.833333 9.16667 2.7 9.16667 5C9.16667 7.3 7.3 9.16667 5 9.16667Z"
                      fill="#EA4E40" />
                    <path
                      d="M5.00065 4.0415C4.76732 4.0415 4.58398 4.22484 4.58398 4.45817V7.2915C4.58398 7.52484 4.76732 7.70817 5.00065 7.70817C5.23398 7.70817 5.41732 7.52484 5.41732 7.2915V4.45817C5.41732 4.23317 5.23398 4.0415 5.00065 4.0415Z"
                      fill="#EA4E40" />
                    <path
                      d="M5.00898 2.33339C4.79232 2.31673 4.59232 2.54173 4.58398 2.76673C4.58398 2.77506 4.58398 2.82506 4.58398 2.83339C4.58398 3.05839 4.75898 3.22506 4.99232 3.23339H5.00065C5.22565 3.23339 5.40898 3.03339 5.41732 2.81673C5.41732 2.80839 5.41732 2.72506 5.41732 2.72506C5.41732 2.48339 5.24232 2.33339 5.00898 2.33339Z"
                      fill="#EA4E40" />
                  </svg>
                </i>
                <div class="floating-error-text">
                  <div 
                    *ngIf=" cropDetail.get('crop').errors && (cropDetail.get('crop').dirty || cropDetail.get('crop').touched)">
                   Crop Id is Required
                  </div>
                </div>
              </div>
        </div>
    </div>
    <div class="mx-0 popup-head no-border">
        <div class="popup-header">
            Benchmark Values (%)
        </div>
    </div>


    <div id="create-rights" class="">
      <div class="apl-resp-table">
        <div class="table-resp apl-resp-table-v5  apl-scrollbar pr-1" style="max-height: calc(100vh - 20rem);">
          <table>
            <thead class="outer-index">
              <tr>
                <th class="">
                  <label class="">Days</label>
                </th>
                <th class="text-center">
                  <label class="">Canopy</label>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let entry of canopyData.values; let i = index">
                <td>{{ entry.numberOfDays }} (Days)</td>
                <td class="text-right"><input class="canopyPercentage w-100px pb-0 pt-0" [(ngModel)]="entry.canopyPercentage" id="value{{ i }}" type="number"
                    placeholder="0" (change)="checkInputValue(entry)" (keydown.arrowup)="(false)"
                    (keydown.arrowdown)="(false)" min="0" max="100" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>



    <!-- <div class="canopy-values-container">
        <div *ngFor="let entry of canopyData.values; let i = index" class="canopy-coverage"
            [ngClass]="{'even-row': i % 2 === 0, 'odd-row': i % 2 !== 0}">
            <label class="canopylabel" for="value{{ i }}">{{ entry.numberOfDays }} (days)</label>
            <input class="canopyPercentage" [(ngModel)]="entry.canopyPercentage" id="value{{ i }}" type="number" placeholder="0"
                (change)="checkInputValue(entry)" (keydown.arrowup)="(false)" (keydown.arrowdown)="(false)" (wheel)="disableScroll($event)" />
        </div>
    </div> -->
    <div class="d-flex justify-content-end">
        <button class="canopy-submit btn btn-success ml-2" style="font-family: inherit !important;" (click)="onsubmit()">Submit</button>
    </div>
</div>