<div class="m-t-15">
    <div class="popup-body p-t-30px">
        <div id="user-log">
            <div class="data-log-section ">
                <div class="datatable-container pr-0 pl-0">
                    <div class="table-responsive apl-data-log-table apl-scrollbar scrollbar--2" appHorizontalDragScroll>
                        <div id='table-user-log' class=" mb-0">

                            <table id="dc-table-graph" class="table__data-log">
                                <thead>
                                    <tr id='table-header-user-log' class="text-uppercase">
                                        <th class="width-20-p brdr-gray" (click)="LoadManageRolesLstData(getColManageUserEnum().firstName,true,false)">

                                            <label class="mb-0">{{ "userAccount.firstName" | translation | async }}</label>
                                            <div class="sortingArrowBlack ml-1 t-0px">
                                                <i class="fas fa-sort-amount-down-alt" *ngIf="usrColName === getColManageUserEnum().firstName && userSort === 2"></i>
                                                <i class="fas fa-sort-amount-down" *ngIf="usrColName === getColManageUserEnum().firstName && userSort === 3"></i>

                                            </div>

                                        </th>
                                        <th class="width-20-p brdr-gray" (click)="LoadManageRolesLstData(getColManageUserEnum().lastName,true,false)">

                                            <label class="mb-0">{{ "userAccount.lastName" | translation | async }}</label>
                                            <div class="sortingArrowBlack ml-1 t-0px">
                                                <i class="fas fa-sort-amount-down-alt" *ngIf="usrColName === getColManageUserEnum().lastName && userSort === 2"></i>
                                                <i class="fas fa-sort-amount-down" *ngIf="usrColName === getColManageUserEnum().lastName && userSort === 3"></i>

                                            </div>

                                        </th>

                                        <th class="width-20-p brdr-gray" (click)="LoadManageRolesLstData(getColManageOrganizationsEnum().orgnName,true,false)">

                                            <label class="mb-0">{{ "userAccount.organizationName" | translation | async }}</label>
                                            <div class="sortingArrowBlack ml-1 t-0px">
                                                <i class="fas fa-sort-amount-down-alt" *ngIf="usrColName === getColManageOrganizationsEnum().orgnName && userSort === 2"></i>
                                                <i class="fas fa-sort-amount-down" *ngIf="usrColName === getColManageOrganizationsEnum().orgnName && userSort === 3"></i>

                                            </div>

                                        </th>
                                        <th class="width-20-p brdr-gray" (click)="LoadManageRolesLstData(getColManageUserEnum().cellPhoneNumber,true,false)">

                                            <label class="mb-0">{{ "userAccount.cellPhoneNumber" | translation | async }}</label>
                                            <div class="sortingArrowBlack ml-1 t-0px">
                                                <i class="fas fa-sort-amount-down-alt" *ngIf="usrColName === getColManageUserEnum().cellPhoneNumber && userSort === 2"></i>
                                                <i class="fas fa-sort-amount-down" *ngIf="usrColName === getColManageUserEnum().cellPhoneNumber && userSort === 3"></i>

                                            </div>

                                        </th>
                                        <th class="width-20-p brdr-gray" (click)="LoadManageRolesLstData(getColManageUserEnum().email,true,false)">

                                            <label class="mb-0">{{ "userAccount.email" | translation | async }}</label>
                                            <div class="sortingArrowBlack ml-1 t-0px">
                                                <i class="fas fa-sort-amount-down-alt" *ngIf="usrColName === getColManageUserEnum().email && userSort === 2"></i>
                                                <i class="fas fa-sort-amount-down" *ngIf="usrColName === getColManageUserEnum().email && userSort === 3"></i>

                                            </div>

                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of lstOrganizationUsers">
                                        <td class="width-20-p">
                                            <label class="mb-0">{{ user.userFirstName }}</label>
                                        </td>
                                        <td class="width-20-p">
                                            <label class=" mb-0">{{ user.userLastName }}</label>
                                        </td>
                                        <td class="width-20-p">
                                            <label class=" mb-0">{{ user.orgnName }}</label>
                                        </td>
                                        <td class="width-20-p">
                                            <label class="mb-0">{{ user.cfCellPhoneNo }}</label>
                                        </td>
                                        <td class="width-20-p">
                                            <label class="mb-0">{{ user.userEmail }}</label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
