<app-manage-profile-component *ngIf="getProfileView()"></app-manage-profile-component>
<button (click)="createUser()" *ngIf="this.screenPermission.isCreateButtonAllow" id="create-user" class="apl-btn btn-ok-solid pl-2 pr-2">
  {{"app.createNew" | translation | async}}</button>

<div class="container-12 section-main section-main-fix pl-0">
    <div class="row">

        <div class="col-sm-12 section-main__head-search u-bb-1-5p-primary-light bg-transparent pl-3 pr-1">

            <div class="d-inline-block">
                <label class="font-weight-bold mb-0 m-t-3px">{{ "userAccount.organizations" | translation | async }}</label>
            </div>

            <div class="pull-right d-inline-block">
                <div class="search-box-wrapper">
                    <input type="text" (keyup.enter)="searchByUser()" (keyup)="onKeyUp()" class="search-box-input" [ngClass]="{'search-box-input-highlight': showSearchBoxHighlighting}" id='userSearchId' placeholder="{{ 'fieldText.search' | translation | async }}" [value]="saveSearchForDisplay"
                        autocomplete="off">
                    <span id="search-user" class="search-box-button" [ngClass]="{'search-box-button-hightlight': showSearchBoxHighlighting}" (click)="searchByUser()">
            <i class="search-icon-black fa fa-search"></i>
          </span>
                </div>
            </div>

            <div class="search-query-results pull-right" *ngIf="showQueryResult">
                <label class="search-query-label "><span [(innerHTML)]="queryResultsFound"></span><span
            class="font-weight-normal">
            {{ "userAccount.resultsFor" | translation | async }}
          </span><span [(innerHTML)]="searchQuery"></span></label>
                <span (click)="resetSearchByUser()" id="reset-user"><i class="fa fa-times-circle-o search-query-times"></i></span>
            </div>

        </div>

        <div class="section-main__body apl-scrollbar">
            <div class="col-12 toggle-border" *ngFor="let orgnType of lstOrganTypes, let indexFirst = index">
                <div class="row">
                    <div class="col-6 toggle-padding" id="orgnType-{{indexFirst + 1}}" (click)="LoadManageUserOrgansLstData(orgnType.id, indexFirst, getColManageOrganEnum().orgnName, true, true);" [ngClass]="{'toggle-selected': toggle[indexFirst]}">

                        <i *ngIf="toggle[indexFirst] " class="fas fa-chevron-circle-down fa-lg"></i>
                        <i *ngIf="!toggle[indexFirst] " class="fas fa-chevron-circle-right fa-lg"></i>
                        <label class="lh-100-p toggle-heading mb-0 m-l-10px">{{ orgnType.name }}</label>

                    </div>
                    <div class="col-6 pr-2" [ngClass]="{'toggle-selected': toggle[indexFirst]}">
                        <div class="pull-right search-query-results-toggle" *ngIf="showQueryResult">
                            <label class="search-query-label"><span [(innerHTML)]="queryResultsArray[indexFirst].count"></span><span
                  class="font-weight-normal">
                  {{ "userAccount.resultsFor" | translation | async }}
                </span><span [(innerHTML)]="searchQuery"></span></label>
                        </div>
                    </div>
                </div>

                <div *ngIf="CheckToggle(indexFirst) &&  !ShouldShowAnceraUsers(orgnType.id)">
                    <div class="col-12">
                        <div>
                            <ul class="collapsible-popout" [@listAnimation]="lstOrganizations.length">
                                <ng-container *ngFor="let organ of lstOrganizations, let i = index">
                                    <li [ngClass]="{'active': toggle1[i]}" id="outer-{{i}}">

                                        <div class="collapsible-header" id="orgn-{{i + 1}}" [ngClass]="{'toggle-selected': toggle1[i]}" (click)="LoadManageUserUsersData(organ.orgnId,i,indexFirst, getColManageUserEnum().userId,true,true)">
                                            <img src="{{ organ.orgnLogoThumbnail }}" class="org-list-logo" alt="">
                                            <label class="ml-3 mb-0" style="vertical-align: middle;">{{ organ.orgnName }}</label>
                                            <div class="pull-right mr-3">
                                                <i *ngIf="toggle1[i] " style="line-height: 1.7rem; color: #303D42;" class="arrow-sign fas fa-chevron-down fa-lg"></i>
                                                <i *ngIf="!toggle1[i] " style="line-height: 1.7rem; color: #303D42;" class="arrow-sign fas fa-chevron-right fa-lg"></i>
                                            </div>

                                        </div>

                                        <div class="collapsible-body apl-resp-table" @fadeAnimation *ngIf="toggle1[i]" [ngClass]="{'d-block': toggle1[i]}">
                                            <div class="inner-table-margin">
                                                <div class="table-resp table-card apl-resp-table-v2 u-of-table-height apl-scrollbar">
                                                    <table>
                                                        <thead>
                                                            <tr>
                                                                <th (click)="LoadManageUserUsersLstData(organ.orgnId,i,indexFirst, getColManageUserEnum().firstName,true,false)" id="sort-first-name">
                                                                    <label>{{ "userAccount.firstName" | translation | async }}</label>
                                                                    <div class="sortingArrow">
                                                                        <i class="fas fa-caret-up fa-lg sortingUpArrow" *ngIf="orgColName ===  getColManageUserEnum().firstName && orgSort === 2"></i>
                                                                        <i class="fas fa-caret-down fa-lg sortingDownArrow" *ngIf="orgColName ===  getColManageUserEnum().firstName && orgSort === 3"></i>
                                                                    </div>
                                                                </th>
                                                                <th (click)="LoadManageUserUsersLstData(organ.orgnId,i,indexFirst, getColManageUserEnum().lastName,true,false)" id="sort-last-name">
                                                                    <label>{{ "userAccount.lastName" | translation | async }}</label>
                                                                    <div class="sortingArrow">
                                                                        <i class="fas fa-caret-up fa-lg sortingUpArrow" *ngIf="orgColName ===  getColManageUserEnum().lastName && orgSort === 2"></i>
                                                                        <i class="fas fa-caret-down fa-lg sortingDownArrow" *ngIf="orgColName ===  getColManageUserEnum().lastName && orgSort === 3"></i>

                                                                    </div>

                                                                </th>
                                                                <th (click)="LoadManageUserUsersLstData(organ.orgnId,i,indexFirst, getColManageUserEnum().cellPhoneNumber,true,false)" id="sort-cell">
                                                                    <label>{{ "userAccount.cellPhoneNumber" | translation | async }}</label>
                                                                    <div class="sortingArrow">
                                                                        <i class="fas fa-caret-up fa-lg sortingUpArrow" *ngIf="orgColName ===  getColManageUserEnum().cellPhoneNumber && orgSort === 2"></i>
                                                                        <i class="fas fa-caret-down fa-lg sortingDownArrow" *ngIf="orgColName ===  getColManageUserEnum().cellPhoneNumber && orgSort === 3"></i>

                                                                    </div>

                                                                </th>
                                                                <th (click)="LoadManageUserUsersLstData(organ.orgnId,i,indexFirst, getColManageUserEnum().email,true,false)" id="sort-email">
                                                                    <label>{{ "userAccount.email" | translation | async }}</label>
                                                                    <div class="sortingArrow">
                                                                        <i class="fas fa-caret-up fa-lg sortingUpArrow" *ngIf="orgColName ===  getColManageUserEnum().email && orgSort === 2"></i>
                                                                        <i class="fas fa-caret-down fa-lg sortingDownArrow" *ngIf="orgColName ===  getColManageUserEnum().email && orgSort === 3"></i>

                                                                    </div>

                                                                </th>
                                                                <th>
                                                                    <label>{{ "userAccount.userRole" | translation | async }}</label>
                                                                </th>
                                                                <th>
                                                                    <label>{{ "userAccount.action" | translation | async }}</label>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody [@listAnimation]="lstOrganizationUsers.length">
                                                            <tr *ngFor="let user of lstOrganizationUsers,  let i = index" id="{{i}}" [ngClass]="{'activeUser': user.userId == this.recentlyAddedUserId}">
                                                                <td>
                                                                    <label>{{ user.userFirstName }}</label>
                                                                </td>
                                                                <td>
                                                                    <label>{{ user.userLastName }}</label>
                                                                </td>
                                                                <td>
                                                                    <label>{{ user.cfCellPhoneNo }}</label>
                                                                </td>
                                                                <td>
                                                                    <label>{{ user.userEmail }}</label>
                                                                </td>

                                                                <td>
                                                                    <label>{{ user.cfRoles }}</label>
                                                                </td>

                                                                <td>
                                                                    <img src="../../../../assets/images/view-icon.png" (click)="editUser(user.userId)" *ngIf="this.screenPermission.isEditButtonAllow" class="pt-sm-1 mr-1 grid-icon  btn-inline-margin cursor-pointer" id="edit-user-{{i + 1}}">
                                                                    <img src="../../../../assets/images/delete_ico.svg" *ngIf="HideDeleteIcon(user) && this.screenPermission.isDeleteButtonAllow" (click)="deleteUser(user.userId)" class="pt-sm-1 mr-1 cursor-pointer" id="delete-user-{{i + 1}}">
                                                                    <label for="" class="mb-0 action-view-icon vertical-align-bottom mt-sm-1" id="view-agreements-{{i + 1}}" (click)="viewUserEulaLog(user.userId, $event)">
                                      <i class="fas fa-eye" (click)="viewUserEulaLog(user.userId, $event)" id="ic-view-agreements-{{i + 1}}"></i>
                                    </label>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </li>
                                </ng-container>

                            </ul>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>

<app-confirmation-component *ngIf="showConfirmationFlag" (positive)="positiveDelete()" (negative)="showConfirmationFlag = false" [message]="confirmationMessage"></app-confirmation-component>

<app-popup-component></app-popup-component>