@font-face {
    font-family: Oswald-Regular;
    src: url(assets/fonts/oswald/Oswald-Regular.ttf) format("opentype");
}

@font-face {
    font-family: Oswald-Light;
    src: url(assets/fonts/oswald/Oswald-ExtraLight.ttf) format("opentype");
}