$black:#000;
//STYLE SCSS VARIABLES HERE
$bg-c-primary-dark: #303D42;
$bg-c-primary-light: #6BCCD1;
$b-c-primary-light: #6BCCD1;
$b-c-primary-light-hover: #4b9fa3;
$t-c-primary-light: #6bd17f;
$bg-c-body: #F7F7F7;
$font-family: 'OpenSans';
$bg-c-gradient1: linear-gradient(270deg, #36454f, #222a30);
$inv-b-c: red;
$inv-t-c: red;
$t-c-primary: #ffffff;
$t-c-primary1: #303D42;
$t-c-primary2: #c4ccd0;
$b-c-disabled: gray;
$bg-c-disabled: gray;
$t-c-disabled: gray;
$tbl-tr-broder: #D2D2D2;
$slected-row-bg-c: #CDEAEC;
$bg-c-save: #4ba381;
$bg-c-save-hover: #387960;
$bg-c-cancel: #a34b4b;
$bg-c-cancel-hover: #743636;
$label-text-color: #808087;
$form-control-border-color: #E5E5E5;
$auth-card-main-header-color: #6BCCD1;
$auth-card-header-color: #FFFFFF;
$page-header: #303D42;
$page-header2: #a5b1b6;
$img-box:#E5E5E5;
$view-box:#808087;
$t-c-save: #D16B6B;
$t-c-primary-col: #393b3d;
$btn-cross-BG: darkred;

$anc-bg-primary-dark: #000000;
$anc-bg-primary-light: #000000;
$anc-c-primary-dark: #000000;
$anc-c-primary-light: #000000;


//=============================Side Bar & Header ====================================================
$header-background-color: white;
$sidebar-item-color: white;
$shadow-color: black;
$header-background-color: white;
$heading-text-color: #303D42;
$shadow-color: black;
$sidebar-bg-color:#303D42;
$sidebar-bg-color-mob:#6F8188;
$sidebar-link-active-c: #364A50;
$sidebar-link-Inactive-c: #364A50;
$auth-form-bg-c: #273235;
$auth-card-h-c: #444e52;
//============================Font Size==================================
$f-s-s: 0.7rem;
$f-s-n: 0.8rem;
$f-s-h: 0.9rem;
$f-s-card-title: 1.3rem;
$f-s-app-heading: 1.5rem;
$f-w-n: normal;
$f-w-h: 600;

$f-s-h1: 1rem;

//===========================Font Weight================================





//========================= Themes variables =============================

// Engro Colors
$engro-top-green: #6db13e;
$engro-middle-green: #00b173;
$engro-bottom-green: #006f3c;

$engro-font-family: 'Helvetica', sans-serif;