<div class="container">
  <div class="wrapper">
    <div class="row">
        <div (click)="firstPage()">
          <img src="../../../../assets/images/chevron_last_left.svg">
      </div>

      <div (click)="previousPage()">
          <img src="../../../../assets/images/chevron_left.svg">
      </div>

      <div class="pagination-cell-cus"
          >
          <p>1</p>
      </div>
      <div class="pagination-cell-cus"
          >
          <p>2</p>
      </div>
      <div class="pagination-cell-cus"
          >
          <p>3</p>
      </div>
      <div class="pagination-cell-cus"
          >
          <p>4</p>
      </div>
      <div class="pagination-cell-cus"
          >
          <p>5</p>
      </div>

      <div (click)="nextPage()">
          <img src="../../../../assets/images/chevron_right.svg">
      </div>
      
      <div (click)="lastPage()" >
     
          <img src="../../../../assets/images/chevron_right_last.svg">
      </div>
    </div>
  </div>

</div>