<div class="container auth-body mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg p-4">
                <h3 class="text-center mb-4">Sign In</h3>
                <form #signInForm="ngForm" class="login-form" novalidate>

                    <!-- Email Field -->
                    <div class="form-group">
                        <label for="email" class="font-weight-bold">Email</label>
                        <input type="email" name="email" #email="ngModel" class="form-control" id="email" required
                            email ngModel placeholder="Enter your email" />
                        <div class="text-danger mt-1" *ngIf="
                            signInForm.form.get('email').errors?.required && signInForm.form.get('email').touched ||
                            signInForm.form.get('email').errors?.required && isNavigated">
                            Email is required
                        </div>
                    </div>

                    <!-- Password Field -->
                    <div class="form-group">
                        <label for="pwd" class="font-weight-bold">Password</label>
                        <div class="input-group">
                            <input [type]="showPassword ? 'text' : 'password'" name="password" ngModel
                                #password="ngModel" class="form-control" id="pwd" required placeholder="Enter password" />
                            <div class="input-group-append">
                                <span class="input-group-text" (click)="showPassword = !showPassword">
                                    <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                                </span>
                            </div>
                        </div>
                        <div class="text-danger mt-1" *ngIf="
                            signInForm.form.get('password')?.errors?.required && signInForm.form.get('password')?.touched ||
                            signInForm.form.get('password')?.errors?.required && isNavigated">
                            Password is required
                        </div>
                    </div>

                    <!-- Forgot Password -->
                    <div class="form-group text-right">
                        <a href="javascript:void(0)" (click)="forgotPassword()" class="text-muted">Forgot Password?</a>
                    </div>

                    <!-- Sign In Button -->
                    <div class="form-group">
                        <button type="submit" id="btn-sign-in" (click)="signIn(signInForm, signInForm.value)"
                            class="btn btn-primary btn-block font-weight-bold">Sign In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
